<%- include('header') %>

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="row">

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                    <h5 class="card-title">Match Details</h5>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Match</div>
                                        <div class="col-lg-9 col-md-8">
                                            <a href="/matchs/playerInfo/<%= data.id %>"><%= data.f_teams.team %> v <%= data.l_teams.team %></a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Series</div>
                                        <div class="col-lg-9 col-md-8">
                                            <%= data.series %>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Match Type</div>
                                        <div class="col-lg-9 col-md-8">
                                            <%= data.matchTypes.mtype %>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Date</div>
                                        <div class="col-lg-9 col-md-8">
                                            <%= data.date %>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Time</div>
                                        <div class="col-lg-9 col-md-8">
                                            <%= data.time %>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Toss</div>
                                        <div class="col-lg-9 col-md-8">
                                            <%= data.toss %>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Umpires</div>
                                        <div class="col-lg-9 col-md-8">
                                            <%= data.umpires %>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">3<sup>th</sup> Umpires</div>
                                        <div class="col-lg-9 col-md-8">
                                            <%= data.THUmpires %>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Referee</div>
                                        <div class="col-lg-9 col-md-8">
                                            <%= data.referee %>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Stadium</div>
                                        <div class="col-lg-9 col-md-8"><a href="/matchs/stadiumInfo/<%= data.id %>">
                                                <%= data.Stadium.name %>
                                            </a></div>
                                    </div>

                                </div>

                            </div><!-- End Bordered Tabs -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

    <%- include('footer') %>